@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

input {
  /* border-radius: 2px !important; */
  /* border: 1px solid rgba(128, 128, 128, 0.521) !important; */
  height: 40px !important;
}

/* input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1.3px solid black !important;
} */

label {
  font-size: 16px !important;
  color: black !important;
}

.ant-form-item {
  margin: 10px 0 !important;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.627);
}
.normal-text {
  font-size: 1rem;
}
.card {
  box-shadow: 0 0 2px rgb(189, 188, 188);
  border-radius: 0 !important;
}

.primary-button {
  background-color: #008ad8 !important;
  border-color: #008ad8 !important;
  height: 40px !important;
  width: 100% !important;
  color: white !important;
}

.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #005555; */
}

.authentication-form {
  width: 400px;
}

.authentication .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white !important;
  max-width: max-content !important;
  padding: 7px 15px;
  margin-left: -35px;
  border-bottom-left-radius: 10px;
}
